<div class="header">
  <div class="nav">
    <h1 class="title"><a href="/">Crypto Market JS</a></h1>
  </div>

  <div class="menu-user-container">
    <p><img src="img/bear.jpg" alt="bear"></p>
    <ul>
      <li>MY INFOS</li>
      <li><a href="#" class="show-fav-list">MY FAVORITES</a></li>
      <li><button class="btn-reset-list">RESET LIST</button></li>
      <li><button id="btn-delete-info">DELETE MY INFO</button></li>
    </ul>
  </div>

  <div class="div-info">
    <h3 class="introduction">Welcome on Crypto Market. This is a platform where you can have a detailed view on a list
      of crypto currencies. It is an always up to date data that you can rely on with no doubt. Let's enjoy !</h3>
  </div>
</div>